.navbar {
    height: 120px;
    /* width: ; */
    background-color: #4056A1;
    z-index: 2;
}

.headertext {
    display:flex;
    color: #FFFFFF;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.tweetertext    {
    justify-content: flex-start;
    font-family: 'Bungee', cursive;
    margin-left: 1.5em;
}

.newtweet   {
    align-items: center;
    justify-content: flex-end;
    font-family: 'Source Sans Pro', sans-serif;
}

.rightcontent   {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5em;
}

.arrow  {
    color: red;
}