.navbar {
    height: 120px;
    /* width: ; */
    background-color: hsl(226, 43%, 44%);
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}

.headertext {
    display:flex;
    color: #FFFFFF;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.tweetertext    {
    justify-content: flex-start;
    font-family: 'Bungee', cursive;
    margin-left: 1.5em;
}

.newtweet   {
    align-items: center;
    justify-content: flex-end;
    font-family: 'Source Sans Pro', sans-serif;
}

.rightcontent   {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5em;
}

.arrow  {
    color: orange;
}